<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
        .card{
            display: flex;
            justify-content: center;
            width: 100%;
            background-color: dimgray;
        }
        .card-body, h1{
            text-align: center;
        }
        body{
            background-color: #bfbcbc;
        }
    </style>
</head>
<body>
<div class="container">
    <main>
        <div class="mt-4 p-5 bg-secondary text-white rounded">
            <h1>Detail Page</h1>
            {% with year=date|slice:"0:4" month=date|slice:"5:7" day=date|slice:"8:10" %}
                        <div class="card">
                          <div class="card-body">
                              <h5 class="card-title">{{ label }}</h5>
                              <p> {{ day }}.{{ month }}.{{ year }} </p>
                          </div>
                      </div>
            {% endwith %}
        </div>
    </main>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</body>
</html>