<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
        .card-wrapper{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .card{
            width: 220px;
            min-height: 150px;
            margin-bottom: 1rem;
            background-color: dimgray;
        }
        a{
            color: #003b91;
        }
        body{
            background-color: #bfbcbc;
        }
    </style>
</head>
<body>
<div class="container">
  <header>
      <div class="mt-4 p-5 bg-dark text-white rounded text-center">
          <h1>Press Content Page</h1>
          <p>You can choose any press content's page for seeing details. </p>
     </div>
  </header>
    <main>
        <div class="mt-4 p-5 bg-secondary text-white rounded">
            <h1>2022</h1>
        <div class="card-wrapper">
        {% for data in results %}
            {% with year=data.date|slice:"0:4" month=data.date|slice:"5:7" day=data.date|slice:"8:10" %}
                      {% if year == "2022" %}
                        <div class="card">
                          <div class="card-body">
                              <h5 class="card-title">{{ data.label }}</h5>
                              <a href="{{ data.url }}"><p class="card-text">Detay Sayfası</p></a>
                              <p> {{ day }}.{{ month }}.{{ year }} </p>
                          </div>
                      </div>
                      {% endif %}
            {% endwith %}
        {% endfor %}
        </div>

        </div>
         <div class="mt-4 p-5 bg-secondary text-white rounded">
                     <h1>2021</h1>
      <div class="card-wrapper">

        {% for data in results %}
            {% with year=data.date|slice:"0:4" month=data.date|slice:"5:7" day=data.date|slice:"8:10" %}
                      {% if year == "2021" %}
                        <div class="card">
                          <div class="card-body">
                              <h5 class="card-title">{{ data.label }}</h5>
                              <a href="{{ data.url }}">  <p class="card-text">Detay Sayfası</p></a>
                              <p> {{ day }}.{{ month }}.{{ year }} </p>
                          </div>
                      </div>
                      {% endif %}
            {% endwith %}
        {% endfor %}
        </div>
         </div>
         <div class="mt-4 p-5 bg-secondary text-white rounded">
             <h1>2020</h1>
         <div class="card-wrapper">
        {% for data in results %}
            {% with year=data.date|slice:"0:4" month=data.date|slice:"5:7" day=data.date|slice:"8:10" %}
                      {% if year == "2020" %}
                        <div class="card">
                          <div class="card-body">
                              <h5 class="card-title">{{ data.label }}</h5>
                              <a href="{{ data.url }}">  <p class="card-text">Detay Sayfası</p></a>
                              <p> {{ day }}.{{ month }}.{{ year }} </p>
                          </div>
                      </div>
                      {% endif %}
            {% endwith %}
        {% endfor %}
         </div>

        </div>
      <div class="mt-4 p-5 bg-secondary text-white rounded">
             <h1>Others</h1>
      <div class="card-wrapper">
        {% for data in results %}
            {% with year=data.date|slice:"0:4" month=data.date|slice:"5:7" day=data.date|slice:"8:10" %}
                      {% if year < '2020' %}
                        <div class="card">
                          <div class="card-body">
                              <h5 class="card-title">{{ data.label }}</h5>
                              <a href="{{ data.url }}">  <p class="card-text">Detay Sayfası</p></a>
                              <p> {{ day }}.{{ month }}.{{ year }} </p>
                          </div>
                      </div>
                      {% endif %}
            {% endwith %}
        {% endfor %}
        </div>
    </div>

    </main>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</body>
</html>